/* Header.css */

.header-appbar {
    background-color: #459599; /* Header background color */
  }
  
  .header-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-title {
    flex-grow: 1;
    font-size: 1.5rem;
    color: white;
  }
  