/* Header.css */

.header-appbar {
    background-color: #529396; /* Header background color */
  }
  
  .header-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(43, 144, 142, 0.792);
  }
  
  .header-title {
    flex-grow: 1;
    font-size: 1.5rem;
    color: white;
  }
  