.container {
  padding: 20px;
}

.inputField {
  margin-top: 10px;
  margin-bottom: 10px;
}

.generateButton {
  margin-top: 10px !important;
  width: 100%;
}

.generatedContentBox {
  margin-top: 10px;
  padding: 3px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #1a1919;
  max-height: 350px;  
  overflow-y: auto; 
}

.generatedText {
  word-wrap: break-word; /* Ensure long words break to fit within the box */
  white-space: pre-wrap; /* Preserve whitespace and handle line breaks */
}
