/* TextContent.css */
.text-content-container {
    padding: 16px;
  }
  
  .font-preview {
    margin-top: 16px;
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #2f2f2f; /* Light dark color */
    color: #fff; /* White text for contrast */
  }
  